<h1>Cost to Ship</h1>
<p> The total cost to ship a package with a height of @Model.GetHeight(), a depth of @Model.GetDepth(), a width of @Model.GetWidth(), and a weight of @Model.GetWeight() is <em>@Model.GetTotal()</em>.</p>
